name: Standard Workflow

on: workflow_call

jobs:
  code-style-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Run simple checks
        run: |
          PATH=$PATH:./scripts
          set -x
          enforce-issue-number-for-todos
          enforce-newline-at-eof
          prohibit-trailing-whitespace

          npm install --global remark-cli remark-lint-no-dead-urls remark-validate-links
          validate-markdown-links

      - uses: coursier/cache-action@v8
      - uses: sbt/setup-sbt@v1

      - name: Check code style
        # Curiously, scalafmtCheckAll doesn't cover *.sbt files, hence scalafmtSbtCheck is needed as well
        run: sbt scalafmtCheckAll scalafmtSbtCheck "scalafixAll --check"

      - name: Substitute sbt plugin snapshot version
        run: ./scripts/substitute-sbt-plugin-snapshot-version

      - name: Check code style - examples/event-migration
        run: sbt scalafmtCheckAll scalafmtSbtCheck "scalafixAll --check"
        working-directory: examples/event-migration

      - name: Check code style - examples/pekko-cluster-app
        run: sbt scalafmtCheckAll scalafmtSbtCheck "scalafixAll --check"
        working-directory: examples/pekko-cluster-app

      - name: Check code style - examples/pekko-persistence-app
        run: sbt scalafmtCheckAll scalafmtSbtCheck "scalafixAll --check"
        working-directory: examples/pekko-persistence-app

  test-212:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v8
      - uses: sbt/setup-sbt@v1

      - name: Run tests
        run: |
          sbt "++ 2.12.17 test"
          sbt "++ 2.12.18 test"
          sbt "++ 2.12.19 test"
          sbt "++ 2.12.20 test"

  test-213:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v8
      - uses: sbt/setup-sbt@v1

      - name: Run tests
        run: |
          sbt "++ 2.13.14 test"
          sbt "++ 2.13.15 test"
          sbt "++ 2.13.16 test"

  test-sbt-plugin:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v8
      - uses: sbt/setup-sbt@v1

      - name: Test sbt plugin
        run: sbt scripted

  run-examples:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v8
      - uses: sbt/setup-sbt@v1

      - name: Substitute sbt plugin snapshot version
        run: ./scripts/substitute-sbt-plugin-snapshot-version

      - name: Test event-migration-examples
        run: sbt test
        working-directory: examples/event-migration

      - name: Compile pekko-cluster-app
        run: sbt compile
        working-directory: examples/pekko-cluster-app

      - name: Test pekko-persistence-app
        run: sbt test
        working-directory: examples/pekko-persistence-app


###
